* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    color: inherit;
}

nav {
    width: 70%;
    height: 55px;
    top: 50px;
    left: 162px;
    padding: 30px 34px;
    gap: 0px;
    border-radius: 100px;
    border: 1px solid #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1C1C1C;
}

nav ul {
    display: flex;
    gap: .5rem;
}

nav ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF;
}

nav ul li a:focus {
    background-color: #262626;
    width: 100px;
    height: 51px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 82px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    border: none;
    background: transparent;
    color: #FFFFFF;
}

.have-bg {
    background-color: #CAFF33;
    color: #1C1C1C;
    width: 99px;
    height: 40px;
    padding: 14px 30px 14px 30px;
    gap: 10px;
    border-radius: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero */
/* Right-cont */
.txt-v{
    background-color: #262626;
  }
  .fin{
    color: #CAFF33;
  }
  .txt-w{
    color: #E4E4E7;
  }
  .btn-open{
    color: #1C1C1C;
    background-color: #CAFF33;
  }
  .btn-open:hover{
    background-color: white;
  }
  /* end or Right-cont */
  
  /* left-cont */
    .left-cont{
      background: url(../icons/home_icon/multi_arrows.png);
      background-position-x: calc(16.5rem);
      background-position-y: calc(4.9rem);
      background-size: calc(15rem);
      background-repeat: no-repeat;
    }
  
    .details{
      border: solid 0.87px;
      border-radius: 10.4px;
      width: 85%;
      background-color: #1A1A1A;
    }
  
    .top-cont{
      margin-bottom: -24px;
      margin-left: -42px;
      position: sticky;
      /* top: 2rem;
      left: -2.5rem; */
      background-color:#22251B;
      width: fit-content;
    }
  
    .c-t{
      background-color: #CAFF33;
      height: 33px;
      width: 33px;
    }
  
    .n-mo{
      font-size: 15px;
    }